$themeColorHoveredContainer: #ffffff3c;

$themeColorBlueSidebar: #006a64;
$themeColorBlueSelectedContainer: #04504b;
$themeColorBlueSectionContainer: #ebfffc;
$themeColorBlueButton: #9df2e9;
$themeColorBlueTextDark: #003734;
$themeColorBlueTextLight: #9df2e9;

$themeColorOrangeSidebar: #393939;
$themeColorOrangeSelectedContainer: #c44536;
$themeColorOrangeSectionContainer: #ffac4b;
$themeColorOrangeButton: #ffac4b;
$themeColorOrangeTextDark: #393939;
$themeColorOrangeTextLight: #ffac4b;
$themeColorOrangeLight: #FDEBC9
